* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.prim-section {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-right: 1%;
    gap: 2%;
    margin-top: 3rem;
}

.red-block {
    background-color: red;
    width: 68%;
    height: 30vh;
}

.red-block2 {
    background-color: red;
    width: 28%;
    height: 30vh;
}

.second-section {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1.5rem;
    gap: 2%;
}

.yellow-block {
    background-color: rgb(226, 172, 24);
    width: 40%;
    height: 70vh;
}

.purple-blocks {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 56%;
}

.purple-block, .purple-block2 {
    height: 34vh;
    width: 100%;
    background-color: purple;
}

.terc-section {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    margin-right: 1%;
    gap: 2%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.blue-block, .blue-block3 {
    width: 28.5%;
    background-color: rgb(4, 57, 128);
    height: 20vh;
}

.blue-block2 {
    width: 37%;
    background-color: rgb(4, 57, 128);
    height: 20vh;
}


h1 {    
    text-align: center;
}

p { 
    font-size:x-large;
    text-align: center;
}